body{
    background-image: url('../images/images2.jpg');
}
.jumbotron{
    background-color: #1F85DE;
    color:black;
}

.panel-heading{
    background-color: #1F85DE !important;
}

.panel-body{
    color: #2b2b2b !important;
}

.navbar{
    background-color:white; 
}

.navbar-brand:link, .navbar-brand:visited{
    color: #2b2b2b !important;
}
.navbar-brand:hover, .navbar-brand:active{
    color: #2b2b2b !important;
}

#navbar li a:link, #navbar li a:visited{
    color:#2b2b2b !important;
    
}

#navbar li a:hover, #navbar li a:active{
    color:#2b2b2b !important;
    
}
